h1{
    border: 2px solid black;
    background-color: aqua;
    width: 33.3333%;
    /* % of the parent*/
}

.outer{
    height: 400px;
    width: 400px;
    background-color: yellowgreen;
    margin: 50px;
}

.inner{
    height: 260px;
    width: 260px;
    background-color: rgb(76, 25, 123);
    margin: 10%; 
    /* based on the height of the parent  */
    /* parent view  */
}

/* em is font size of the parent, relative to parent's font size  */
/* Text related property */

 .parent{
    background-color: blue;
    height: 500px;
    width: 400px;
    font-size: 10px;
 }

 .child{
    background-color: bisque;
    height: 200px;
    width: 100px;
    /* font size will be set to 20px */
    font-size: 2em;
    /* padding will be set to 20px as of font size jitna relative font baega utna hi padding set hoga */
    padding: 1em;
 }


 /* rem root em -> font size of the root element to stop the snowball effect by em */
